<%= stylesheet_link_tag "userindex.css" %>
<header class="header-area">
  <div class="navbar-area">
    <div class="container">
      <nav class="site-navbar">
        <a href="#home" class="site-logo">SMART ORDER</a>
        <ul>
          <li> <%= link_to "Menu List", menus_path %>
          </li>
          <li> <%= link_to "Add  User", new_user_path %> </li>
          <li><a href="#">CART</a></li>
        </ul>

        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div>
  <div class="intro-area">
    <div class="container">
        <h2>Welcome To The User Page!    </h2>
      <table>
          <tr>
            <td data-label="User Id">User Id</td>
            <td data-label="User Name">User Name</td>
          </tr>
          <% @users.each do |user| %>
          <tr>
            <td data-th="User Id"><%= user.id %></td>
            <td data-th="UserName"><%= link_to user.username, user %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>  
    </div>
  </div>
</header>
 
