<h1>User Name : <%= @user.username %></h1>

<p>User Address : <%= @user.user_address %></p>

<p>User Phone Number : <%= @user.user_phonenumber %></p>

<ul>
    <li><%= link_to "Edit User Details ", edit_user_path(@user) %></li>
  </ul>

  <li><%= link_to "Delete User", user_path(@user), data: {
    turbo_method: :delete,
    turbo_confirm: :"Are you want to delete the User?"
  } %></li>
  </ul>

  <h2>Card Details</h2>
  <% @user.cards.each do |card| %>
    <p>
      <strong>Card Name:</strong>
      <%= card.card_name %>
    </p>
  
    <p>
      <strong>Card  Number:</strong>
      <%= card.card_number %>
    </p>
  <% end %>
  <h2>Add a Card:</h2>
<%= form_with model: [ @user, @user.cards.build ] do |form| %>
  <p>
    <%= form.label :card_name %><br>
    <%= form.text_field :card_name %>
  </p>
  <p>
    <%= form.label :card_number %><br>
    <%= form.text_area :card_number %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>